
<div id="about">
    <h3>What is this?</h3>
    <p>This is a repository for precomputed PANDA analysis. Use it to download the results
    in various formats to analyze with your favorite network science tools.</p>
    <h3>How do I use this?</h3>
    <ol>
        <li>Search for a cancer dataset.</li>
        <li>Visualize a demo (Z-score > 5.5) by clicking "Visualize" in the results table.</li>
        <li>Choose a Z-Score exclusion range in histogram.</li>
        <li>Click "Download" in the results table to download Panda analyzed network.</li>

    </ol>

    <h3>Downloadable Network Science Tools</h3>
    <ul>
        <li><a href="http://gephi.github.io/">Gephi (file format supported)</a></li>
        <li><a href="http://www.cytoscape.org/">Cytoscape (file format supported)</a></li>
        <li><a href="http://pajek.imfm.si/doku.php">Pajek</a></li>
        <li><a href="http://sna.stanford.edu/rlabs.php">SNA (R programming language package)</a></li>
        <li><a href="http://snap.stanford.edu/">SNAP (Python programming language package)</a></li>
    </ul>
</div>
