
<h3>Interaction Table</h3>

<table id="interaction-table" st-table="environment.displayEdges" st-safe-src="environment.graph.elements.edges" class="table table-striped">
    <thead>
        <tr>
            <th st-sort="getters.source" st-sort-default>Transcription Factor</th>
            <th st-sort="getters.target">Target</th>
            <th st-sort="getters.zScore">Z-Score</th>
        </tr>
        <tr>
			<th colspan="4">
				<input st-search placeholder="Filter by Transcription Factor:" class="input-sm form-control" type="search"/>
			</th>
		</tr>
    </thead>
    <tbody>
        <tr ng-repeat='edge in environment.displayEdges'>

            <td>{{edge.data.source}}</td>
            <td>{{edge.data.target}}</td>
            <td>{{edge.data.zScore}}</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
        </tr>
    </tfoot>

</table>
