div.spaced {
    margin-top:20px
}

div#about {
    margin-top: 20px;
    margin-left: 20px
}

#vis {
    height: 594px;
    width: 400px;
    position: relative;
    margin-top: 20px;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 2px;
}

table#searchTable {
    margin-top: 20px;
    height:300px;
}

.environment-interface-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

table#interaction-table {
    width:100%;
}
